<h2> Books </h2>

<div>
	<%= form_tag books_path, :method => :get do%>
	<input id="search-bar-form" class="search-form" name="title" placeholder="Search Book Titles" type="text" autocomplete="on">
  <button class="btn btn-primary" type="submit">Search</button>
	<% end %>
</div>

<br>
<%= link_to 'Stuff is about to happen', book_path(2), remote: true %>
<br>

<div id="target-for-change">
  Now you see "ME"!
</div>


<br>

<div class="row d-flex justify-content-center">

	<div class="col-8">

		<%= link_to 'New Book', new_book_path %>
		<br>
		<br>

		<% @books.each do |book| %>
		<a href=<%=book_path(book)%>>
			<div class="row my-1">
					<div class="col-3 d-flex justify-content-center ">
						<img src=<%= book.image_url %> alt=<%= book.title %>>
					</div>
					<div>
						<%= book.title %> <br>
						by <%= book.author %> <br>
					</div>
			</div>
		</a>
		<% end %>

			<%= will_paginate @books %>

	</div>
</div>